<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>
    <script type="text/javascript">
      VK.init({apiId: 2718494, onlyWidgets: true});
    </script>
</head>
<body>
    <div id="wrapper">

       
        <div id="navigation">
            <div id="logo">
                <a href="/"><img src="images/logo.jpg" alt="logo" /></a>
            </div>
            <div class="menu">
                <ul>
                    <li class="current_page_item"><a href="http://localhost:85/gopubs/" title="Главная">РЕСТОРАНЫ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КЕЙТЕРИНГ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КАФИТЕРИИ НА ПРЕДПРИЯТИЯХ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">NEW YORK BAGGELS CAFE</a></li>
                    <li class="lang"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">РУС</a></li>
                </ul>
            </div>
        </div>
        <div id="divider"></div>
        <div id="main">
                <div id="header">
                    <h1>EXECUTIVE SOUS CHEF</h1>
                </div>
                <div id="content">
                    <h2>Scope of Position:</h2>
                    <p>Assists the Executive Chef in exceeding guest satisfaction, financial, and employee satisfaction targets through the leadership of all culinary areas. Actively engages culinary colleagues and guests to continually seek feedback to improve the culinary department. Establish and monitor all quality, consistency, safety, sanitation, and hygiene standards through leading the culinary training program. Directly supervises the banquet culinary team. Executive Sous Chef @ Luxury Restaurant</p>
                    <h2>Main Tasks &amp; Responsibilities:</h2>
                    <ul>
                            <li><span>Supervises Supervises Supervises Supervises Supervises Supervises Supervises Supervises the function of all culinary areas to maximize the overall food &amp; beverage departmental profit and exceed budgeted targets. </span></li>
                            <li><span>Maintain quality and consistency levels of production and presentation in all culinary areas.</span></li>
                            <li><span>Consistently monitor all culinary expenses.</span></li>
                            <li><span>Ensures all payroll records are accurate and current.</span></li>
                            <li><span>Ensures all requisitioning and receiving standards are followed.</span></li>
                            <li><span>Ensures waste is minimized through monitoring of ordering, par levels, production, and waste.</span></li>
                            <li><span>Ensure culinary team productivity through organization, training, coaching, and mentoring.</span></li>
                            <li><span>Maintain and set sanitation, hygiene, and safety standards.</span></li>
                            <li><span>In coordination with the Chief Steward, responsible for the culinary HACCP program.</span></li>
                            <li><span>Establishes and maintains effective colleague relations and inter-departmental working relations.</span></li>
                            <li><span>Conducts such functions as interviewing, hiring, orientation, performance appraisal, coaching, counseling and suspension if necessary.</span></li>
                            <li><span>Develop and implement culinary training program with the training coordinator.</span></li>
                            <li><span>In coordination with the Executive Chef, develop, implement, and execute all Banqueting and Colleague Dining Room menus.</span></li>
                            <li><span>Ensures all culinary areas have established current standardized recipes that are utilized and followed by all culinary team members.</span></li>
                            <li><span>Attends and contributes to all meetings called for.</span></li>
                            <li><span>Other duties and responsibilities as dictated by the leadership of the hotel, not mentioned in this document.</span></li>
                            <li><span>Relieves the Executive Chef as needed.</span></li>
                    </ul>
                    <h2>Job Requirements &amp; Skills:</h2>
                    <ul>
                            <li><span>Require 5 years of experience in a culinary leadership position in luxury hotel.</span></li>
                            <li><span>Prefer 5-7 years of experience as both a Chef de Cuisine and Banquet Chef in a luxury hotel.</span></li>
                            <li><span>Prefer international culinary experience with a leading luxury hotel company.</span></li>
                            <li><span>Prefer formal culinary training from an accredited culinary school or apprenticeship.</span></li>
                            <li><span>Prefer formal HACCP certification/training.</span></li>
                            <li><span>Prefer language ability in Russian/Ukrainian and English.</span></li>
                            <li><span>Prefer basic working knowledge of Microsoft Office applications.</span></li>
                            <li><span>Must already have required work authorization for Ukraine.</span></li>
                            <li><span>Must be able to work a varied/flexible schedule as dictated by business levels, including, but not limited to nights, weekends, and extended work shifts.</span></li>
                            <li><span>Passion for culinary arts and guest service/interaction.</span></li>
                            <li><span>Able to develop strong working relationships with both Guests and Colleagues.</span></li>
                            <li><span>Proven leadership ability that supports an environment of employee growth and development, interdepartmental teamwork and exceptional guest service.</span></li>
                    </ul>
                    <address><em>Contact information: </em></address>
                    <address><em>+380 (67) 2321531 — </em></address>
                    <address><em>ib@diamondrecruiters.net</em></address>

                </div>
                <div id="content-foo">
                    <span class="readmore"><a href="#"><img class="left-arrow" src="images/arrow-left.png" alt="arrow" />Backward</a></span>
                </div>
                
        </div>
        <div id="social">
            <div id="vk_like"></div>
            <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "mini"});
            </script>
        </div>
        <div id="footer">
            
            <div id="sub_menu">
                <ul>
                    <li><a href="#">НОВОСТИ</a></li>
                    <li><a href="#">ВАКАНСИИ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright © 2011 Vernissage</p>
                <p>Все права защищены.</p>
            </div>
            <div id="f-contacts">
                <span>0923 УКРАИНА, КИЕВ</span>
                <p>ул. Лисенка 4</p>
                <p>+38044 236 03016</p>
            </div>
        </div>
    </div>
</body>
</html>