<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>
    <script type="text/javascript">
      VK.init({apiId: 2718494, onlyWidgets: true});
    </script>
</head>
<body>
    <div id="wrapper">

       
        <div id="navigation">
            <div id="logo">
                <a href="/"><img src="images/logo.jpg" alt="logo" /></a>
            </div>
            <div class="menu">
                <ul>
                    <li class="current_page_item"><a href="http://localhost:85/gopubs/" title="Главная">РЕСТОРАНЫ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КЕЙТЕРИНГ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КАФИТЕРИИ НА ПРЕДПРИЯТИЯХ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">NEW YORK BAGGELS CAFE</a></li>
                    <li class="lang"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">РУС</a></li>
                </ul>
            </div>
        </div>
        <div id="divider"></div>
        <div id="main">
                <div id="header">
                    <h1>CONTACTS</h1>
                </div>
                <div id="content">
                    <div class="contacts">
                        <a class="title" href="#">New York Baggels</a>
                        <p>2A, Konstantinovskaya st.<br />Ukraine 02099, Kiev<br />phone: +380 (44) 676-36-09</p>
                        <address><em>Reservation and general enquiries lines are open Monday to Sunday from 9:30am to 9pm.</em></address>
                        <address><em>+380 44 230 94 36</em></address>
                        <div class="icons">
                            <img src="images/wifi.jpg" alt="WiFi"/>
                            <img src="images/visa.jpg" alt="Visa">
                            <img src="images/mastercard.jpg" alt="MasterCard">
                        </div>

                    </div>
                    
                    <div class="contacts">
                        <a class="title" href="#">Cafe Vernissage</a>
                        <p>1st Volokolamsky proez<br />Ukraine 02099, Kiev<br />phone: +380 (44) 363-9630</p>
                        <address><em>Reservation and general enquiries lines are open Monday to Sunday from 9:30am to 9pm.</em></address>
                        <address><em>+380 44 230 94 36</em></address>
                        <div class="icons">
                            <img src="images/wifi.jpg" alt="WiFi"/>
                            <img src="images/visa.jpg" alt="Visa">
                            <img src="images/mastercard.jpg" alt="MasterCard">
                        </div>

                    </div>
                    
                    <div class="contacts">
                        <a class="title" href="#">Vernissage</a>
                        <p>120, prospekt Obukhovskoy<br />Ukraine 02099, Kiev<br />phone: +380 (44) 363-9630</p>
                        <address><em>Reservation and general enquiries lines are open Monday to Sunday from 9:30am to 9pm.</em></address>
                        <address><em>+380 44 230 94 36</em></address>
                        <div class="icons">
                            <img src="images/wifi.jpg" alt="WiFi"/>
                            <img src="images/visa.jpg" alt="Visa">
                            <img src="images/mastercard.jpg" alt="MasterCard">
                        </div>

                    </div>
                    
                    <div class="contacts">
                        <a class="title" href="#">Cafeterias in Enterprises</a>
                        <p>120, prospekt Obukhovskoy<br />Ukraine 02099, Kiev<br />phone: +380 (44) 363-9630</p>
                        <address><em>Reservation and general enquiries lines are open Monday to Sunday from 9:30am to 9pm.</em></address>
                        <address><em>+380 44 230 94 36</em></address>
                        <div class="icons">
                            <img src="images/wifi.jpg" alt="WiFi"/>
                            <img src="images/visa.jpg" alt="Visa">
                            <img src="images/mastercard.jpg" alt="MasterCard">
                        </div>

                    </div>
                    
                </div>
            <div id="map">
                <img src="images/mapcontact.jpg" alt="map"/>
            </div>
               
        </div>
        <div id="social">
                <div id="vk_like"></div>
                <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "mini"});
                </script>
            </div>
        <div id="footer">
            <div id="sub_menu">
                <ul>
                    <li><a href="#">НОВОСТИ</a></li>
                    <li><a href="#">ВАКАНСИИ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright © 2011 Vernissage</p>
                <p>Все права защищены.</p>
            </div>
            <div id="f-contacts">
                <span>0923 УКРАИНА, КИЕВ</span>
                <p>ул. Лисенка 4</p>
                <p>+38044 236 03016</p>
            </div>
        </div>
    </div>
</body>
</html>