<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>
    <script type="text/javascript">
      VK.init({apiId: 2718494, onlyWidgets: true});
    </script>
</head>
<body>
    <div id="wrapper">

       
        <div id="navigation">
            <div id="logo">
                <a href="/"><img src="images/logo.jpg" alt="logo" /></a>
            </div>
            <div class="menu">
                <ul>
                    <li class="current_page_item"><a href="http://localhost:85/gopubs/" title="Главная">РЕСТОРАНЫ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КЕЙТЕРИНГ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КАФИТЕРИИ НА ПРЕДПРИЯТИЯХ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">NEW YORK BAGGELS CAFE</a></li>
                    <li class="lang"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">РУС</a></li>
                </ul>
            </div>
        </div>
        <div id="divider"></div>
        <div id="main">
            <div id="header">
                <h1>NEWS</h1>
            </div>
            <div class="column first">
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легких салатов, быстрых закусок, пирогов и каш. Также добавили позиции из японской кухни вроде классических роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, быстрых закусок, пир роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, быстрых закусок, пир роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
            </div>
            
            
            <div class="column">
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легкихвроде классических роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>

                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, б японской кухни вроде классических роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, быстрых закусок, пир роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
            </div>
            
            <div class="column">
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                             Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, быстрых зак Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легких салатов, быстрых закусок, пирогов и каш. Также добавили позиции из японской кухни вроде классических роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
                <div class="news">
                    <img src="images/newsimg.jpg" alt="news1"/>
                    <h3>ШОКОЛАДНЫЙ КРЕМ</h3>

                    <div class="entry-content">
                        <p>
                            Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, Здесь большой выбор легких салатов, быстрых закусок, пир роллов и мисо-супа. Стены помещения облицованы натуральным деревом.
                        </p>    
                    </div>

                    <div class="entry-meta">
                        <span class="readmore"><a href="#">Узнать Детали <img src="images/arrow.png" alt="arrow" /></a></span>
                        <span class="date">24.11.11</span>
                    </div>
                </div>
            </div>            
        </div>
        <div id="social">
            <div id="vk_like"></div>
            <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "mini"});
            </script>
        </div>
        <div id="footer">
            
            <div id="sub_menu">
                <ul>
                    <li><a href="#">НОВОСТИ</a></li>
                    <li><a href="#">ВАКАНСИИ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright © 2011 Vernissage</p>
                <p>Все права защищены.</p>
            </div>
            <div id="f-contacts">
                <span>0923 УКРАИНА, КИЕВ</span>
                <p>ул. Лисенка 4</p>
                <p>+38044 236 03016</p>
            </div>
        </div>
    </div>
</body>
</html>