<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>
    <script type="text/javascript">
      VK.init({apiId: 2718494, onlyWidgets: true});
    </script>
    
</head>
<body>
    <div id="wrapper">

       
        <div id="navigation">
            <div id="logo">
                <a href="/"><img src="images/logo.jpg" alt="logo" /></a>
            </div>
            <div class="menu">
                <ul>
                    <li class="current_page_item"><a href="http://localhost:85/gopubs/" title="Главная">РЕСТОРАНЫ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КЕЙТЕРИНГ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">КАФИТЕРИИ НА ПРЕДПРИЯТИЯХ</a></li>
                    <li class="page_item page-item-2"><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">NEW YORK BAGGELS CAFE</a></li>
                    <li class="lang">
                        <select>
                            <option><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">РУС <img src="images/lang-down.jpg"></a></option>
                            <option><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">УКР <img src="images/lang-down.jpg"></a></option>
                            <option><a href="http://localhost:85/gopubs/?page_id=2" title="Пример страницы">ENG  <img src="images/lang-down.jpg"></a></option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <div id="divider"></div>
        <div id="main">
            
            <div class="restaurant">
                <div class="res-column first">
                    <h3> NEW YORK BAGGELS CAFE</h3>
                    <div class="careerdivider"></div>
                    <p>New York Baggels Cafe is a restaurant group that uses the magic of food to give unemployed young people a chance to have a better future.</p>
                    <img src="images/restaurant.jpg" alt="restaurant" />
                    <div id="social">
                        <div id="vk_like"></div>
                        <script type="text/javascript">
                        VK.Widgets.Like("vk_like", {type: "mini"});
                        </script>
                    </div>
                </div>
                <div class="res-column">
                    <h3>CONTACT</h3>
                    <div class="google-map">
                        <img src="images/map.jpg" alt="map" />
                    </div>
                    <p>Reservation and general enquiries lines are open Monday to Sunday from 9:30am to 9pm. +380 44 230 94 36</p>
                    <p>Ukraine, Kyiv Avenu of Heroev Stalingrada 10 A</p>
                    <img src="images/wifi.png" alt="wifi" />
                    <img src="images/visa.png" alt="visa" />
                    <img src="images/master.png" alt="master" />
                </div>
            </div>
            
            <div class="restaurant">
                <div class="res-column first">
                    <h3> NEW YORK BAGGELS CAFE</h3>
                    <div class="careerdivider"></div>
                    <p>New York Baggels Cafe is a restaurant group that uses the magic of food to give unemployed young people a chance to have a better future.</p>
                    <img src="images/restaurant.jpg" alt="restaurant" />
                </div>
                <div class="res-column">
                    <h3>CONTACT</h3>
                    <div class="google-map">
                        <img src="images/map.jpg" alt="map" />
                    </div>
                    <p>Reservation and general enquiries lines are open Monday to Sunday from 9:30am to 9pm. +380 44 230 94 36</p>
                    <p>Ukraine, Kyiv Avenu of Heroev Stalingrada 10 A</p>
                    <img src="images/wifi.png" alt="wifi" />
                    <img src="images/visa.png" alt="visa" />
                    <img src="images/master.png" alt="master" />
                </div>
            </div>
                   
        </div>
        
        <div id="footer">
            
            
            <div id="sub_menu">
                <ul>
                    <li><a href="#">НОВОСТИ</a></li>
                    <li><a href="#">ВАКАНСИИ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright © 2011 Vernissage</p>
                <p>Все права защищены.</p>
            </div>
            <div id="f-contacts">
                <span>0923 УКРАИНА, КИЕВ</span>
                <p>ул. Лисенка 4</p>
                <p>+38044 236 03016</p>
            </div>
        </div>
    </div>
</body>
</html>